<!DOCTYPE html>
<html>
<head>
  <title>KuponoBot</title>
    <link href="/stylesheets/web-app-theme/base.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/web-app-theme/themes/default/style.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/web-app-theme/override.css" media="screen" rel="stylesheet" type="text/css" />
    <script cache="true" src="/javascripts/jquery.js" type="text/javascript"></script>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">KuponoBot</a></h1>
      <div id="main-navigation">
        <ul class="wat-cf"></ul>
      </div>
    </div>    
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.now.year %> kiote.</p>
          </div>      
        </div>
      </div>
      <div id="sidebar">
        <div class="block notice">
          <%= form_tag root_path, :method => :get do %>
            <%= text_field_tag :search %>
            <%= submit_tag "Поиск" %>
          <% end %>
        </div>
        <div class="block notice">
          <h4>Twiter:</h4>
          <a href="http://twitter.com/kuponobot" class="twitter-follow-button" data-button="grey" data-text-color="#FFFFFF" data-link-color="#00AEFF">Follow @kuponobot</a>
<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
        </div>
        <%= yield :sidebar %>
      </div>
    </div>    
  </div>
</body>
</html>
